:root {
  --frozen-seaweed: #BAD4D4;
  --rust: #996A46;
  --rust-hard: #b1441a;
  --rust-solid: #A34307;
  --gray-clouds: #69615e;
  --new-paper: #E3DCC5;
  --used-paper: #B5AD96;
  --old-paper: #9E967E;
  --ancient-paper: #827C67;
  --permafrost: #D1EDFF;
  --slush: #486475;
  --dark-slush: #4B4D52;
  --fresh-seaweed: #8A9999;
  --sliced-fresh-seaweed: rgba(138, 153, 153, 0.5);
  --torch-light: #EB893B;
  --good: #2DDE10;
  --warning: #DADE2C;
  --bad: #DE2824;
}

/* Cannot Click On */
.unclickable {
  user-select: none;
  pointer-events: none;
}

/* Fonts */
@font-face {
  font-family: 'BlackLetter';
  src: url('../data/fonts/BlackLetter/BlackletterExBold.woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../data/fonts/MerriWeather/Merriweather-VariableFont_opsz,wdth,wght.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../data/fonts/MerriWeather/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../data/fonts/MerriWeather/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf');
  font-weight: 300;
  font-style: italic;
}

/* Animation Presets */
@keyframes pulseAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.15); }
}
.faded-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.faded-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

/* Load Screen and Title Group */
#load-screen {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--frozen-seaweed);
  display: flex;
  align-items: center;
  justify-content: center;
}
#title-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
#load-screen > img {
  animation-name: pulseAnimation;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}
.title-h2 {
  color: var(--rust);
  font-family: 'BlackLetter', serif;
}

/* Background Video */
#video-carriage {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  aspect-ratio: 16/9;
}
#ytplayer {
  /* Positioning */
  height: 100%;
  width: 300%; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  margin-left: -100%;
}

/* Cloud SVG */
#cloud-svg {
  position: fixed;
  z-index: -1;
}
#cloud-svg > path {
  fill: url("#cloud-gradient");
}
.cloud-s1 {
  stop-color: var(--rust-hard);
}
.cloud-s2 {
  stop-color: var(--gray-clouds);
  stop-opacity: 16%;
}
.cloud-s3 {
  stop-color: var(--rust-hard);
}

/* Scroll SVG */
#scroll-svg {
  height: 60rem;
  width: auto;
  margin-top: 18rem;
  position: fixed;
  /*padding-top: 25vh;*/
}
#scroll-svg path {
  fill: url("#scroll-gradient");
}
.scroll-s1 {
  stop-color: var(--new-paper);
}
.scroll-s2 {
  stop-color: var(--used-paper);
}
.scroll-s3 {
  stop-color: var(--old-paper);
}
.scroll-s4 {
  stop-color: var(--ancient-paper);
}

/* Wrapper Div - Shared Style */
#wrapper-div {
  padding: 0 7.3rem 2rem 7.3rem;
}

/* Top-Bar */
#top-bar {
  display: flex;
  justify-content: space-between;
}

/* Left-Top-Bar */
#left-top-bar {
  display: flex;
  align-items: center;
}
#inner-left-top-bar {
  display: flex;
  flex-direction: column;
}
#line-left-top-bar {
  margin-right: 0.9rem;
  margin-left: 0.9rem;
}
#line-left-top-bar > path {
  fill: var(--frozen-seaweed);
}
#inner-left-top-bar > span {
  font-family: "Merriweather", serif;
  font-weight: 400;
}
#inner-left-top-bar > span > span {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}
#active-shs {
  color: var(--warning);
}
#gold {
  color: var(--good);
}
#silver {
  color: var(--bad);
}
#copper {
  color: var(--good);
}

/* Middle Bar */
#mine {
  margin-top: 25px;
}

/* Right-Top-Bar */
#right-top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search-right-top-bar {
  display: flex;
  font-family: "Merriweather", serif;
  font-weight: 400;
}
#icons-right-top-bar {
  display: flex;
  justify-content: flex-end;
  user-select: none;
  margin-top: 4px;
}
#settings-right-top-bar {
  display: flex;
  justify-content: flex-end;
  user-select: none;
  margin-top: 4px;
}

/* Right-Top-Bar Input Controls */
#search-right-top-bar > label {
  margin-right: 5px;
  font-size: 22px;
}
#search-right-top-bar > input {
  border: 2px solid var(--fresh-seaweed);
  background-color: var(--slush);
  color: var(--frozen-seaweed);
}
#search-right-top-bar > input::placeholder {
  font-weight: 300;
  font-style: italic;
  color: var(--bad);
  user-select: none;
  pointer-events: none;
}

#icons-right-top-bar > button {
  margin-left: 5px;
}

#settings-right-top-bar > button {
  margin-left: 5px;
  color: var(--slush);
  border: 1px solid var(--fresh-seaweed);
  background-color: var(--frozen-seaweed);
}

#dark-mode-btn {
  border: 1px solid var(--fresh-seaweed);
  background-color: var(--frozen-seaweed);
  width: 60px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}
#dark-mode-square {
  background-color: var(--slush);
  color: var(--frozen-seaweed);
  width: 22px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.5s;
}
#dark-mode-btn.active #dark-mode-square {
  left: 32px;
}
#alerts-btn {
  color: var(--slush);
  border: 1px solid var(--fresh-seaweed);
  background-color: var(--frozen-seaweed);
}
#profile-btn {
  color: var(--slush);
  border: 1px solid var(--fresh-seaweed);
  background-color: var(--frozen-seaweed);
}

/* Left Scroll Svg Buttons */
#sb-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 425px;
  left: 120px;
}
#sb-btn-wrapper > button {
  margin-bottom: 12px;
  color: var(--slush);
  border: 1px solid var(--fresh-seaweed);
  background-color: var(--frozen-seaweed);
}
#sb-btn-wrapper span {
  user-select: none;
  pointer-events: none;
}
#sb-btn-1 { margin-left: 10px; }
#sb-btn-2 { margin-left: 25px; }
#sb-btn-3 { margin-left: 35px; }
#sb-btn-4 { margin-left: 49px; }
#sb-btn-5 { margin-left: 50px; }
#sb-btn-6 { margin-left: 30px; }
#sb-btn-7 { margin-left: 40px; }
#sb-btn-8 { margin-left: 20px; }
#sb-btn-9 { margin-left: 5px; }

/* Main-Grid */
#main-grid {
  margin-top: 6.5rem;
  margin-left: 220px;
  display: grid;
  grid-template: repeat(3, 300px) / repeat(5, 405px); /* 3-5 ratio */
  gap: 1rem;
}
#main-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--frozen-seaweed);
}
#main-grid p {
  user-select: none;
  pointer-events: none;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  color: var(--bad);
}
.header-div-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  background-color: var(--sliced-fresh-seaweed);
}

/* Grid Red Waves */
.row{
  width:100%;
  height:80vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position:relative;
}
.row table {
  margin-top: 4px;
}

/* Grid Red Waves SVG */
.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.sep1{
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}

/* Background Gradient on Grid */
.red{
  background-image: linear-gradient(to bottom, rgba(210,77,87,1), rgba(210,77,87,0));
}

/* Table */
td {
  text-align: center;
}
th {
  text-align: center;
}