:root {
  --frozen-seaweed: #BAD4D4;
  --rust: #996A46;
}

/* Fonts */
@font-face {
  font-family: 'BlackLetter';
  src: url('../data/fonts/BlackLetter/BlackletterExBold.woff2');
  font-weight: 800;
  font-style: normal;
}

/* Animation Presets */
@keyframes pulseAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.15); }
}

.faded-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.faded-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.element {

}

/* Load Screen */
#load-screen {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--frozen-seaweed);
  display: flex;
  align-items: center;
  justify-content: center;
}

#load-screen > img {
  animation-name: pulseAnimation;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

.load-h2 {
  color: var(--rust);
  font-family: 'BlackLetter', serif;
}

/* Background Video */
#video-carriage {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  aspect-ratio: 16/9;
}

#ytplayer {
  /* Do not allow user interaction with video */
  user-select: none;
  pointer-events: none;

  /* Positioning */
  height: 100%;
  width: 300%; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  margin-left: -100%;
}

/* SVG Gradients */
#cloud {
  fill: url("#cloud-gradient");
}
.cloud-s1 {
  stop-color: #b1441a;
}
.cloud-s2 {
  stop-color: #69615e;
  stop-opacity: 16%;
}
.cloud-s3 {
  stop-color: #b1441a;
}